.bg-default-guest {
    color: white !important;
    background: #C5C1B3 !important;
}

.bg-default-student {
    color: white !important;
    background: #B2C5BF !important;
}

.bg-default-teacher {
    color: white !important;
    background: #D28C8C !important;
}

.bg-default-admin {
    color: white !important;
    background: #C8D0E7 !important;
}

.bg-dark-guest {
    color: white !important;
    background: #C5C1B3 !important;
}

.bg-dark-student {
    color: white !important;
    background: #305B56 !important;
}

.bg-dark-teacher {
    color: white !important;
    background: #A95050 !important;
}

.bg-dark-admin {
    color: white !important;
    background: #7383AE !important;
}

.bg-default-grayC6 {

    background: #C6C6C6 !important;
}

.bg-default-grayD9 {

    background: #D9D9D9;
}

.bg-default-grayE2 {

    background: #E2E2E2;
}


.text-guest {
    color: #C5C1B3 !important;
}

.text-student {
    color: #B2C5BF !important;
}

.text-teacher {
    color: #D28C8C !important;
}

.text-admin {
    color: #C8D0E7 !important;
}

.text-unslect {
    color: #BCBCBC !important;
}

.img-unselect {
    filter: invert(81%) sepia(4%) saturate(18%) hue-rotate(354deg) brightness(89%) contrast(102%);
}

.img-select-guest {
    filter: invert(91%) sepia(25%) saturate(114%) hue-rotate(8deg) brightness(84%) contrast(83%);
}

.img-select-student {
    filter: invert(85%) sepia(8%) saturate(306%) hue-rotate(110deg) brightness(90%) contrast(94%);
}

.img-select-teacher {
    filter: invert(88%) sepia(89%) saturate(819%) hue-rotate(292deg) brightness(84%) contrast(95%);
}

.img-select-admin {
    filter: invert(82%) sepia(7%) saturate(574%) hue-rotate(187deg) brightness(99%) contrast(98%);
}

body {
    background-image: url("./image/picture/background.jpg");
    height: 100%;
    width: 100%;
}

.course-teacher-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
}

.circle-img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
}

.line-pictureUrl {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.div-line {
    background-image: url("./image/picture/login.jpg");
    height: 100px;
    width: 100%;
}

.nav-top {
    top: 0;
    ;
    height: 44px;
}

.fs-12 {
    font-size: 12px;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.icon-size {
    width: 11px;
    height: 11px;
}

.date-style {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bg-select {
    background: #B2C5BF !important;
    color: blac !important;
    border-color: black !important;
}

.bg-class {
    background: #E9E9E9 !important;
    color: black !important;
}

.bg-activity {
    background: lightgreen !important;
    color: black !important;
}

.bg-before {
    color: lightgray !important;
}


/* .calendar-style {
    padding-left: 0px;
    padding-right: 0px;
} */

/* .calendar-style .card .card-header {
    background: #D28C8C;
    color: white;
} */

.center {
    margin: auto;
    padding: 1px;
}

.modal-bg-select-teacher {
    background: #D28C8C !important;
    color: white !important;
}

.modal-bg-unselect-teacher {
    background: white !important;
    color: #D28C8C !important;
}